<head>
    <meta charset="utf-8" />
    <title>data-worthy</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<h1>Top Hashtags Extracted from the Tweets</h1>
<canvas id="myChart" width="600" height="400"></canvas>
<p>Current Date-Time Range: {{daterange}}</p>
<p>Enter New Date-Time Range here:</p> 
<form action="{{ url_for("twitter_2")}}" method="post">
    <input type="text" id="startdate" name="start" placeholder="StartDate">
    <input type="text" id="enddate" name="end" placeholder="EndDate">
    <button type="submit">Search</button>
</form>
<a href="/">Home</a>

<script>
    Chart.defaults.global.responsive = false;
    var chartData = {
        labels: [{% for item in labels %}
    "{{item}}",
        {% endfor %}],
    datasets: [{
        label: '{{ legend }}',
        fill: true,
        lineTension: 0.1,
        backgroundColor: "rgba(75,192,192,0.4)",
        borderColor: "rgba(75,192,192,1)",
        borderCapStyle: 'butt',
        borderDash: [],
        borderDashOffset: 0.0,
        borderJoinStyle: 'miter',
        pointBorderColor: "rgba(75,192,192,1)",
        pointBackgroundColor: "#fff",
        pointBorderWidth: 1,
        pointHoverRadius: 5,
        pointHoverBackgroundColor: "rgba(75,192,192,1)",
        pointHoverBorderColor: "rgba(220,220,220,1)",
        pointHoverBorderWidth: 2,
        pointRadius: 1,
        pointHitRadius: 10,
        data: [{% for item in values %}
                    {{ item }},
                {% endfor %}],
        spanGaps: false
        }]
    }
    var ctx = document.getElementById("myChart").getContext("2d");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: chartData,
    });
</script>